:root{
    --bgBG: #1e1e1e;
    --bgCont: #393939;
}

*{
    font-family: 'Copperplate', Helvetica;
}

.App {
    min-height: 100vh; 
    height: 100%
}

h1 {
    font-family: fantasy;
}

.form {
    width: 100%;
    margin: 0px auto;
    padding: 100px 0;
}

.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media (min-width: 768px){
    .form{
        width: 75%;
    }
}